<div class="card-bar">
  <p>{{ print.card.name }}</p>
  <div class="card-costs">
    {% for cost in print.card.costs.all %}
      {% for _ in ''|rjust:cost.amount %}
        <span class="energy-unit {{ cost.energy_type.char }}"></span>
      {% endfor %}
    {% endfor %}
  </div>
</div>
<div class="card-block">
  <img src="{{ print.image.url }}" alt="{{ print.card.name }}" />
</div>
<div class="card-bar">
  <p>{{ print.card.card_type }}</p>
  <p>{{ print.card_set.code }} - {{ print.number_set }}/{{ print.card_set.prints.count }}</p>
</div>
<div class="card-block">
  <p>{{ print.card.description }}</p>
</div>
